{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
        <div class="login">
            <form class="login__form" action="" method="POST">
                <h1 class="login__title">Connexion</h1>
                {% if error %}
                <div class="alert">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}
                {% if app.user %}
                    <div class="mb-3">
                        You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
                    </div>
                {% endif %}
                <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="login__input" placeholder="E-Mail" autocomplete="email" required autofocus>
                <input type="password" name="password" id="inputPassword" class="login__input" placeholder="Mot de passe" autocomplete="current-password" required>
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                <button class="btn__2" type="submit">
                    Connexion
                </button>
            </form>
        </div>
{% endblock %}
