{% extends 'base.html.twig' %}

{% block title %}V.Parrot Garage{% endblock %}

{% block body %}
<!-- HOME COVER -->
    <div class="home">
        <div class="home__presentation">
            <p class="home__title">VOTRE VOITURE <span>NOUS PREOCCUPE<span> </p>
            <p class="home__text"><span class="home__off">Nous sommes là pour prendre soin de votre voiture et vous offrir une expérience de service exceptionnelle.</span> Notre équipe hautement qualifiée et passionnée est prête à répondre à tous vos besoins en matière d'entretien, de réparation et de maintenance automobile.</p>
        </div>
        <div class="home__partner">
            <p class="home__title">NOS <span>PARTENAIRES<span></p>
                <div class="home__images">
                    <img class="home__img citroenlogo"  src="../../assets/images/citroenlogo2.png">
                    <img class="home__img" src="../../assets/images/bmwlogo.png">
                    <img class="home__img" src="../../assets/images/audilogo2.png">
                </div>
        </div>
    </div>

    <hr class="separation">
<!-- SEPARATION PRESENTATION -->
    <div class="presentation">
        <img class="presentation__img" src="../../assets/images/garagiste.png">
        <p class="presentation__p">V.Parrot Garage est un fournisseur de services
            de réparation automobile de confiance et professionnel
            dédié à maintenir votre véhicule dans un état optimal.
            Avec notre équipe de techniciens expérimentés et certifiés, 
            nous offrons une large gamme de services complets de réparation
            et d'entretien pour répondre à tous vos besoins automobiles.
        </p>
    </div>

<!-- SECTION SERVICES -->
    <h2 class="title">Nos Services</h2>
    <div class="services">
        {% for service in services %}
        {% set priceFormatted = (service.getPrice() / 100)|number_format(2, ',', ' ') %}
            <div class="services__cards">
                <img class="services__img" src={{ service.getImages() }}>
                <div class="services__text">
                    <h3 class="services__title">{{ service.getTitle() }}<h3>
                    <p class="services__para">{{ service.getDescription() }}</p>
                    <hr class="separation">
                    <p class="services__para2">Le prix indiqué si dessous n'est pas nominatif, le prix peut varier à la hausse ou à la baisse selon votre véhicule et son entretien.</p>
                    <p class="services__price">Prix : {{ priceFormatted }} €</p>
                    <a class="services__link" href="/contact">Nous Contacter</a>
                </div>
            </div>
        {% endfor %}
    </div>

    <!-- SEPARATION PRESENTATION 2-->
    <div class="presentation2">
        <p class="presentation2__p2">V.Parrot Garage est un fournisseur de services
            de réparation automobile de confiance et professionnel
            dédié à maintenir votre véhicule dans un état optimal.
            Avec notre équipe de techniciens expérimentés et certifiés, 
            nous offrons une large gamme de services complets de réparation
            et d'entretien pour répondre à tous vos besoins automobiles.</p>
        <img class="presentation2__img2" src="../../assets/images/garagiste2.png">
    </div>

    <hr class="separation">
    
<!-- SECTION REVIEW : Carousel -->
    <h2 class="title">Les avis clients</h2>
    <div class="wrapper">
        <ul class="carousel">
            {% for review in reviews %}
            {% if review.accepted %}
                <li class="card">
                    <div class="card-content">
                        <p class="name">❝ {{ review.getName() }}</p>
                        <hr class="separation">
                        <p class="grade">Note : {{ review.getGrade() }} / 5</p>
                        <p class="comment">{{ review.getComment() }}  ❞</p>
                    </div>
                </li>   
            {% endif %}
            {% endfor %}
        </ul>
    </div>
    <div class="testimonial">
        <p class="testimonial__p">Vous aussi laissez votre avis</p>
        <a href="/avis "class="btn__2" >
            Donner son Avis
        </a>
    </div>
{% endblock %}
